body {
    background-color: #f4f4f4 !important;
}

.input,
.preview {
    padding: 1rem 2rem;
}

.input {
    border-color: transparent;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
}

.input {
    width: 100%;
}

.markdown {
    padding: 4rem;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

blockquote {
    font-size: 2rem;
    font-style: italic;
    border-left: 5px solid black;
    color: black;
    padding-left: 2rem;
    line-height: 2;
    margin-bottom: 1.5rem;
}

blockquote ::first-letter {
    text-transform: uppercase;
}

pre {
    background: #222;
    display: inline-block;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    color: yellow;
    margin-bottom: 1.5rem;
}